<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rfida">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RfidA">
        <activity android:name=".dateact"></activity>
        <activity android:name=".uidsearch" />
        <activity android:name=".secact" />
        <activity android:name=".test" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".LoginStudentactivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SectionActivity" />
        <activity android:name=".TableActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>